<div class="row">
  <div class="col-xl-2 col-2 img-col">
    <img src="assets/imgs/{{account.id}}.jpg" />
  </div>
  <div class="col name-and-tag-col">
    <div class="username">{{account.name}}</div>
    <div class="tagname">@{{account.username}}</div>
  </div>
  <div class="col-xl-4 col-sm-12 col-3 btn-col">
    <button type="button" (click)="followUser(account.id)" class="btn follow-btn follow" [ngClass]="{'unfollow': userFollowed, 'follow': !userFollowed}">{{userFollowed ? 'Unfollow' : 'Follow'}}</button>
  </div>

  <!-- <div class="col-6">
    <img src="assets/imgs/{{account.id}}.jpg" />

  </div>

  <div class="col-6">
    <button type="button" (click)="followUser(account.id)" class="btn follow-btn follow" [ngClass]="{'unfollow': userFollowed, 'follow': !userFollowed}">{{userFollowed ? 'Unfollow' : 'Follow'}}</button>
  </div>

  <div class="col-12">
    <div class="username">{{account.name}}</div>
    <div class="tagname">@{{account.username}}</div>

  </div> -->
</div>
