
@import'../../../../styles/variables.scss';

.main{
  *{
    font-weight: bold;
  }
}

.filter-row{
  .col{
    text-align: right;
    color: $greyColor;
  }
}

.feeds-row{
  height: 700px;
  overflow-y: auto;

  .feed-col{
    padding: 25px;

  }
}

.filter-option{
  cursor: pointer;

  &:hover{
    color: $skyBlue!important;
  }
}

.active-filter{
  color: $cofeedColor!important;
}

//Globals

.liner{
  height: 2px;
  background-color: $greyColor;
  margin: 20px 0;
}

// MEDIA QUERY

@media (max-width: 1199px) {

  .filter-option{
    font-size: 13px;
  }
}

@media (max-width: 555px) {

  .filter-option{
    text-align: center!important;
    font-size: 11px;
    padding: 0px;
    margin-right: 2px;
  }

  .feeds-row{

    .feed-col{
      padding: 12px;
    }
  }
}


