
@import'../../../../styles/variables.scss';

.main{
  overflow-x: auto;

  .row{
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;


  }
}

.account-holder{

  .img-container{
    padding: 5px;
    border: 1px solid $cofeedColor;
    border-radius: 50%;

    .img-div{
      height: 120px;
      // width: 120px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50%;
    }
  }

  img{
    width: 100%;
    border-radius: 50%;
  }

  p{
    text-align: center;
    margin-top: 8px;
  }
}

// MEDIA QEURIES

@media (max-width: 1679px){

  .account-holder{

    .img-container{

      .img-div{
        height: 95px;
      }
    }

  }
}

@media (max-width: 1599px){

  .account-holder{

    .img-container{

      .img-div{
        height: 90px;
      }
    }

  }

}

@media (max-width: 1535px) {


  .account-holder{

    .img-container{

      .img-div{
        height: 82px;
      }
    }

  }

}


@media (max-width: 1439px) {

  .account-holder{

    .img-container{

      .img-div{
        height: 76px;

      }
    }

    p{
      text-align: center;
      margin-top: 8px;
      font-size: 13px;
    }
  }


}

@media (max-width: 1367px) {

  .account-holder{

    .img-container{

      .img-div{
        height: 68px;
      }
    }

    p{
      text-align: center;
      margin-top: 8px;
      font-size: 13px;
    }
  }

}

@media (max-width: 1199px) {

  .account-holder{

    .img-container{

      .img-div{
        height: 42px;

      }
    }

    p{
      text-align: center;
      margin-top: 8px;
      font-size: 11px;
    }
  }

  .row{

    .col{
      padding: 5px;
    }
  }
}

@media (max-width: 970px){
  .user-img-col{
    min-width: 74px;
  }
}
